<div class="card my-5">
  <div class="card-body">  	
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th *ngIf="loginService.getUserLoggedIn() != 'USER'" scope="col">Action</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes">
          <td>{{ recipe.recipe_id }}</td>
          <td>{{ recipe.recipe_name }}</td>
          <td>{{ recipe.recipe_description }}</td>          
          <td *ngIf="loginService.getUserLoggedIn() != 'USER'">
          	<button class="btn btn-warning" (click)="editRecipe(recipe)"> Edit Recipe</button>
          	<!--<a routerLink="/editrecipe" class="nav-link">Edit Recipe</a>-->
          </td>
          <td *ngIf="loginService.getUserLoggedIn() != 'USER'">
          	<button class="btn btn-danger" (click)="deleteRecipe(recipe)"> Delete Recipe</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
