<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #recipeForm="ngForm">
      <div class="form-group">
        <label for="recipe_name">Recipe Name</label>
        <input type="text" [(ngModel)]="recipe.recipe_name" 
          class="form-control" 
          id="recipe_name" 
          name="recipe_name" 
          placeholder="Enter your recipe name"
          required #recipe_name="ngModel">
      </div>
      <div class="form-group">
        <label for="recipe_description">Recipe Description</label>
        <textarea [(ngModel)]="recipe.recipe_description" 
          rows="10"
          cols="33"           
          id="recipe_description" 
          name="recipe_description" 
          placeholder="Enter your recipe description">
        </textarea>
      </div>
      <div [hidden]="!recipe_name.pristine" class="alert alert-danger">Recipe Name is required</div>
      <div class="form-group">
        <label for="chefid"> Chef ID</label>
        <input type="text" [(ngModel)]="chefIdDefault" 
          class="form-control" 
          id="chefid" 
          name="chefid"           
          required #chefid="ngModel"
          [placeholder]="chefIdDefault"
          [disabled]="true"
          [value]="chefIdDefault"
        >
        <!--<div [hidden]="!chefid.pristine" class="alert alert-danger">Chef is required</div>-->
      </div>      
      <button type="submit" [disabled]="!recipeForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>